DATABASE_URL=
CRON_SECRET=
RESEND_API_KEY=
RESEND_AUDIENCE_FROM=
SITE_URL=http://localhost:3000
TWITTER_NITTER_BASE=https://nitter.poast.org
TWITTER_RSS_URLS=https://nitter.poast.org/OpenAI/rss,https://xcancel.com/OpenAI/rss
